body {
  background-color: #201F21;
  color: #F0F2EF;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin-top: 0;
}

#epicodus {
  color: #00b3b4;
}

#avatar {
  width: 326px;
  border-radius: 25%;
}

.nav-tabs {
  background-color: #575359;
}

.nav-links {
  color: #F0F2EF;
}

.nav-title {
  font-size: 32px;
  margin-top: 3px;
  text-align: center;
}

.active {
  color: #FFF;
}

.links {
  color: #B1B2B0;
}

.text {
  padding-top: 10px;
  background-color: #201F21;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.logos {
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logos:hover {
  transform: scale(1.03);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Kept in to show floats */
/* .sidebar {
  float: left;
  width: 200px;
  background-color: #282629;
} */

.header {
  text-align: center;
  background-image:
  linear-gradient(
    to top,
    #201F21, #575359
    );
    margin-bottom: 0;
    padding-top: 15px;
  }
