body {
  background-color: #201F21;
}

#epicodus {
  color: #00b3b4;
}

#avatar {
  width: 326px;
  border-radius: 15%;
}

.logos {
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logos:hover {
  transform: scale(1.02);
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar {
  float: left;
  width: 150px;
  background-color: #282629;
}

.sidebar-links {
  color: #F0F2EF;
}

.links {
  color: #B1B2B0;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
  background-image:
  linear-gradient(
    to top,
    #201F21, #575359
    );
    color: #F0F2EF;
    margin-bottom: 0;
  }

.title {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  text-align: center;
  color: #F0F2EF;
  background-color: #201F21;
}

.text {
  display: flex;
  padding-top: 10px;
  padding-bottom: 50%;
  color: #F0F2EF;
  background-color: #201F21;
  font-size: 16px;
}
