body {
  background-color: #A3A5A2;
}

.title {
  font-size: 64px;
  margin-top: 0;
  text-align: center;
  color: #F0F2EF;
  background-color: #39363B;
}

.logos {
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logos:hover {
  transform: scale(1.02);
  padding-top: 10px;
  padding-bottom: 10px;
}

.text {
  background-color: #A3A5A2;
  color: #F0F2EF;
  /* float: left; */
  text-align: center;
}

.sidebar-links {
  color: #F0F2EF;
}

.sidebar {
  float: left;
  width: 150px;
  background-color: #282629;

}

.header {
  text-align: center;
  background-color: #282629;
  color: #F0F2EF;
  margin-bottom: 0;
}

#avatar {
  width: 326px;
}
